@import '../../styles/styles.scss';

.upload-product {
    &__body {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        width: 100%;
    }

    &__top {
        padding: 50px;
    }

    &__title {
        text-transform: uppercase;
        text-align: center;
    }

    &__bottom {
        background: $primary-dark-lighter;
        flex: 1;
        padding: 0 50px 25px 50px;
    }

    &__error {
        color: $primary-error;
    }

    &__form {
        margin-bottom: 5px;
    }

    &__image {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

    &__categories {
        width: 100%;
    }

    &__option {
        margin: 20px 0;
    }

    &__checkbox {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    &__checkbox .MuiFormControlLabel-label {
        color: $primary-grey-checkbox;
    }

    &__progress-bar {
        height: 5px;
        background: $primary-progress-bar;
        margin: 20px 0;
    }

    &__products {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 20px 0 50px 0;
    }

    &__products-title {
        text-transform: uppercase;
        text-align: center;
    }

    &__sizes-title {
        text-transform: uppercase;
        text-align: left;
    }

    &__added {
        background: $primary-success-operation;
        border-radius: 4px;
        margin: 20px 0;
    }

    &__added-box {
        width: 100%;
        border: 1px solid $primary-dark;
        color: $primary-dark;
        transition: all 0.25s;
        padding: 7px 21px;
        font-size: 0.9375rem;
        min-width: 64px;
        box-sizing: border-box;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 500;
        line-height: 1.75;
        border-radius: 4px;
        letter-spacing: 0.02857em;
        text-transform: uppercase;
        text-align: center;
    }
}

@media (min-width: 600px) {
    .upload-product {
        &__body {
            border: 2px solid $primary-dark;
            margin: 50px auto;
        }

        &__image .MuiButton-contained,
        &__submit-btn .MuiButton-contained {
            width: 100%;
        }

        &__image {
            flex-direction: row;
        }

        &__products-title {
            text-align: left;
            width: 90%;
            margin: 0 auto;
        }
    }
}
