@import '../../styles/styles.scss';

.products {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &__box {
        display: flex;
        padding: 30px;
        flex-direction: column;
    }

    &__categories {
        display: flex;
        justify-content: center;
        gap: 20px;
        height: fit-content;
        margin: 0 0 20px 0;
    }

    &__check {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    &__category {
        color: $primary-dark;
    }

    &__gallery {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        margin: 0 auto;
        width: 80%;
    }

    &__progress {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        text-align: center;
        margin: 200px 0;
    }
}

@media (min-width: 500px) {
    .products {
        &__gallery {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0;
            width: 90%;
        }
    }
}

@media (min-width: 768px) {
    .products {
        &__gallery {
            width: 80%;
        }

        &__box {
            flex-direction: row;
        }

        &__categories {
            margin-top: 30px;
            width: 15%;
            border: 1px solid $primary-dark;
            padding: 15px 5px;
            flex-direction: column;
        }
    }
}

@media (min-width: 1200px) {
    .products {
        &__categories {
            width: 13%;
        }
    }
}

@media (min-width: 1500px) {
    .products {
        &__categories {
            width: 10%;
        }
    }
}
