@import '../../styles/styles.scss';

.products {
    &__sort {
        display: flex;
        flex-direction: row;
        height: auto;
        align-items: center;
        width: 70%;
        margin: 0 auto;
        gap: 10px;
        justify-content: center;
        border-bottom: 1px solid $primary-dark-category-bar;
        padding: 18px 0;
    }

    &__sort-title {
        font-size: 15px;
        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    }

    &__dropdown .MuiSelect-select {
        font-size: 15px;
    }

    &__box {
        display: flex;
        padding: 0 30px 30px;
        flex-direction: column;
        height: auto;
    }

    &__categories {
        display: flex;
        justify-content: center;
        gap: 20px;
        height: fit-content;
        margin: 10px 0;
    }

    &__gallery {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        margin: 0 auto;
        width: 80%;
    }
}

.MuiPopover-root {
    & .MuiListItem-button {
        font-size: 14px;
    }
}

@media (min-width: 500px) {
    .products {
        &__gallery {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0;
            width: 90%;
        }
    }
}

@media (min-width: 768px) {
    .products {
        &__sort {
            align-items: flex-end;
            border-bottom: none;
            justify-content: flex-end;
            width: 85%;
            padding: 25px 0 10px 0;
        }

        &__sort-title {
            padding-bottom: 8px;
            font-size: 17px;
        }

        &__dropdown .MuiSelect-select {
            font-size: 17px;
        }

        &__gallery {
            width: 80%;
        }

        &__box {
            flex-direction: row;
        }

        &__categories {
            width: 15%;
            border: 1px solid $primary-dark;
            padding: 15px 5px;
            flex-direction: column;
            margin: 0 0 20px 0;
        }
    }
}

@media (min-width: 1200px) {
    .products {
        &__categories {
            width: 13%;
        }
    }
}

@media (min-width: 1500px) {
    .products {
        &__categories {
            width: 10%;
        }
    }
}
