@import '../../styles/styles.scss';

.latest-news {
    background: $primary;
    width: 60%;
    margin: 40px auto 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        overflow: hidden;
        text-align: center;
        text-transform: uppercase;
        width: 95%;
    }

    &__title::before {
        right: 0.5em;
        margin-left: -50%;
    }

    &__title::after {
        left: 0.5em;
        margin-right: -50%;
    }

    &__gallery {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 18px;
        justify-content: center;
    }
}

@media (min-width: 500px) {
    .latest-news {
        width: 90%;

        &__title::before,
        &__title::after {
            background-color: $primary-dark;
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 50%;
        }

        &__gallery {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0;
        }
    }
}

@media (min-width: 1300px) {
    .latest-news {
        width: 70%;
    }
}

@media (min-width: 1600px) {
    .latest-news {
        width: 60%;
    }
}
