@import '../../../styles/styles.scss';

.shr-header {
    top: 0;
    width: 100%;
    z-index: 5;

    &__span {
        padding-top: 40px;
    }
}

@media (min-width: 980px) {
    .shr-header {
        &__desktop {
            display: flex;
        }
    }
}
