$primary: #fff;
$primary-lighter:#eee;
$primary-light: #ffffff26;
$primary-light-product: #f5f5f5;
$primary-light-shipping: #f0f8ff;
$primary-light-option: #e4e4e4;
$primary-light-option-bar: #e0e0e0;
$primary-dark: #000;
$primary-dark-lighter: #8080801a;
$primary-dark-category-bar: #80808033;
$primary-dark-light: #111;
$primary-dark-light-hover: #ffffff0f;
$primary-dark-footer: #000000f2;
$primary-dark-product-option: #1d1d1d;
$primary-dark-bg-home: #222;
$primary-dark-bg-gradient-left: #212121;
$primary-dark-bg-gradient-right: #545454;
$primary-dark-backdrop: #00000080;
$primary-grey-light: #ffffffbd;
$primary-grey-lighter: #ffffffa1;
$primary-grey: #ffffff85;
$primary-grey-category-box: #889297;
$primary-grey-checkbox: #888;
$primary-social-facebook:  #3b5998;
$primary-social-facebook-hover:  #5178cc;
$primary-social-instagram:  #e4405f;
$primary-social-instagram-hover:  #ff6481;
$primary-social-twitter:  #00acee;
$primary-social-twitter-hover:  #37c8ff;
$primary-social-youtube:  #c4302b;
$primary-social-youtube-hover:  #f9403a;
$primary-crimson: #dc143c;
$primary-success-operation: #00ff7f;
$primary-red-check: #ff0000e8;
$primary-error: #f00;
$primary-progress-bar: #efb6b2;
$secondary: #000;
$secondary-dark: #000000f2;
$secondary-light: #3e3e3e;
