$primary: #fff;
$primary-lighter:#eee;
$primary-light: #ffffff26;
$primary-dark: #000;
$primary-dark-lighter: #8080801a;
$primary-dark-light: #111;
$primary-dark-light-hover: #ffffff0f;
$primary-social-facebook:  #3b5998;
$primary-social-facebook-hover:  #5178cc;
$primary-social-instagram:  #e4405f;
$primary-social-instagram-hover:  #ff6481;
$primary-social-twitter:  #00acee;
$primary-social-twitter-hover:  #37c8ff;
$primary-social-youtube:  #c4302b;
$primary-social-youtube-hover:  #f9403a;
$primary-crimson: #dc143c;
