@import '../../styles/styles.scss';

.product-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    background: $primary-light-product;
    border: 1px solid $primary-dark;

    &__img {
        width: 100%;
    }

    &__container {
        padding: 7px 7px 0 7px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        text-align: center;
    }

    &__svg .MuiSvgIcon-root {
        font-size: 2rem;
        cursor: pointer;
    }

    &__title {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }

    &__description {
        font-size: 18px;
    }

    &__price {
        font-size: 24px;
        width: 100%;
        text-align: center;
        padding: 0 7px 7px 7px;
    }
}

@media (min-width: 600px) {
    .product-detail {
        flex-direction: row;
        width: 90%;

        &__img {
            width: 40%;
        }

        &__container {
            font-size: 16px;
            width: 40%;
        }

        &__price {
            font-size: 23px;
            width: 20%;
        }
    }
}

@media (min-width: 768px) {
    .product-detail {
        width: 80%;

        &__img {
            width: 30%;
        }

        &__container {
            width: 50%;
        }
    }
}

@media (min-width: 980px) {
    .product-detail {
        width: 70%;

        &__img {
            width: 25%;
        }

        &__container {
            width: 55%;
            padding: 7px 7px 0 20px;
        }
    }
}

@media (min-width: 1200px) {
    .product-detail {
        width: 60%;
    }
}

@media (min-width: 1400px) {
    .product-detail {
        width: 50%;
    }
}
