@import '../../../styles/styles.scss';

.shr-header {
    top: 0;
    width: 100%;
    z-index: 5;

    /*** MOBILE BAR  ***/
    &__mobile {
        align-items: center;
        background: $primary-dark-light;
        overflow: hidden;
        position: fixed;
        z-index: 5;
        width: 100%;
        display: flex;
        flex-direction: column;

        &-bar {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1%;
            width: 100%;
        }

        &-actions {
            align-items: center;
            display: flex;
            flex-direction: row;
        }

        &-login {
            color: $primary;
            cursor: pointer;
            margin-right: 10px;
        }

        &-brand {
            color: $primary;
            cursor: pointer;
        }

        &-burger {
            cursor: pointer;
        }

        &-burger-span {
            background: $primary;
            display: block;
            height: 3px;
            margin: 6px;
            width: 35px;
        }

        &-menu {
            background: $primary-dark-light;
            display: none;
            padding-bottom: 100vh;
            width: 100%;
        }

        &-sign {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 15px auto 30px auto;
            gap: 20px;
            width: 100%;
            padding: 0 20px;
            max-width: 600px;
        }

        &-sign-up,
        &-sign-in,
        &-logged,
        &-user-profile {
            margin: 0 0.2rem;
            width: 100%;
            max-width: 300px;
        }

        &-welcome-message {
            color: $primary;
            text-transform: uppercase;
        }

        &-option {
            color: $primary;
            display: block;
            margin: 0;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            transition: color 0.3s;
            width: 100%;
        }

        &-option:hover {
            background: $primary-dark-light-hover;
        }

        &-show {
            display: block;
        }

        &-active {
            background: $primary-dark-light-hover;
            font-weight: 500;
        }

        &-basket {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            grid-gap: 5px;
            gap: 5px;
            cursor: pointer;
            color: $primary;
            margin-right: 7px;
        }

        &-basket .MuiSvgIcon-root {
            font-size: 21px;
        }

        &-basket-qty {
            font-size: 23px;
            margin-top: 1px;
        }
    }

    &__mobile-sign-in .MuiButtonBase-root,
    &__mobile-sign-up .MuiButtonBase-root,
    &__mobile-log-out .MuiButtonBase-root,
    &__mobile-user-profile .MuiButtonBase-root {
        color: $primary;
        border: 1px solid $primary;
    }

    &__mobile-log-out,
    &__mobile-user-profile,
    &__mobile-sign-in,
    &__mobile-sign-up {
        width: 80%;
        margin: 0 auto;
    }

    /*** DESKTOP BAR  ***/
    &__desktop {
        align-items: center;
        background: $primary-dark;
        color: $primary;
        display: none;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
        padding: 0.3em 1em;
        position: fixed;
        width: 100%;
        z-index: 1;

        &-info {
            align-items: center;
            display: flex;
            gap: 1em;
            min-width: 210px;
            width: 20%;
        }

        &-dev {
            cursor: pointer;
        }

        &-social {
            margin-right: 30px;
            padding: 6px 0;
        }

        &-social .fab {
            font-size: 25px;
            margin: 0 2px;
        }

        &-facebook {
            color: $primary-social-facebook;
            cursor: pointer;
        }

        &-facebook:hover {
            color: $primary-social-facebook-hover;
        }

        &-instagram {
            color: $primary-social-instagram;
            cursor: pointer;
        }

        &-instagram:hover {
            color: $primary-social-instagram-hover;
        }

        &-twitter {
            color: $primary-social-twitter;
            cursor: pointer;
        }

        &-twitter:hover {
            color: $primary-social-twitter-hover;
        }

        &-youtube {
            color: $primary-social-youtube;
            cursor: pointer;
        }

        &-youtube:hover {
            color: $primary-social-youtube-hover;
        }

        &-actions {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 80%;
        }

        &-options {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &-option {
            border: 1.5px solid transparent;
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            letter-spacing: 1px;
            margin: 0 0.9rem;
            padding: 5px;
            text-transform: uppercase;
            transition: border-color 200ms ease-in-out;
        }

        &-option:hover {
            border-bottom: 1.5px solid $primary-lighter;
        }

        &-right {
            display: flex;
        }

        &-sign-up,
        &-sign-in {
            margin: 0 0.2rem;
        }

        &-logged {
            display: flex;
            align-items: center;
        }

        &-basket {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 5px;
            cursor: pointer;
        }

        &-basket-qty {
            font-size: 25px;
        }
    }

    &__desktop-sign-in .MuiButtonBase-root,
    &__desktop-sign-up .MuiButtonBase-root,
    &__desktop-logged .MuiButton-root {
        color: $primary;
        border: 1px solid $primary;
        font-size: 12px;
    }

    &__desktop-logged .MuiIconButton-root {
        padding: 0;
        margin: 0 18px;
    }

    &__desktop-logged .MuiSvgIcon-root {
        color: $primary;
        font-size: 30px;
    }

    &__span {
        padding-top: 40px;
    }

    /* Mobile hover */
    &__mobile-sign-in .MuiButtonBase-root:hover,
    &__mobile-sign-up .MuiButtonBase-root:hover,
    &__mobile-logged .MuiButtonBase-root:hover,
    &__mobile-user-profile .MuiButtonBase-root:hover {
        color: $primary;
        border: 1px solid $primary;
    }

    /* Desktop hover */
    &__desktop-sign-in .MuiButtonBase-root:hover,
    &__desktop-sign-up .MuiButtonBase-root:hover,
    &__desktop-logged .MuiButton-root:hover {
        color: $primary;
        border: 1px solid $primary;
        font-size: 12px;
    }
}

@media (min-width: 290px) {
    .shr-header {
        &__mobile-sign {
            flex-direction: row;
        }

        &__mobile-log-out,
        &__mobile-user-profile {
            width: 50%;
        }
    }
}

@media (min-width: 980px) {
    .shr-header {
        &__mobile {
            display: none;
        }

        &__desktop {
            display: flex;
        }
    }
}
