.shr-select {
    display: flex;
    justify-content: center;
    margin: 20px 0 15px 0;

    &__title {
        margin-right: 15px;
        font-size: 10px;
        padding: 5px 0;
        letter-spacing: 2px;
    }

    &__select {
        width: 50px;
        border: 1px solid #000;
        background: #8080801a;
        .shr-select__option {
            background: #8080801a;
        }
    }
}

@media ( min-width: 480px ) {
    .shr-select {
        &__title {
            font-size: 12px;
        }

        &__select {
            width: 60px;
        }
    }
}

@media ( min-width: 768px ) {
    .shr-select {
        justify-content: left;
        margin: 0;
    }
}
