@import '../../styles/styles.scss';

.add-product {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &__category-bar {
        border-top: 1px solid $primary-dark-category-bar;
        border-bottom: 1px solid $primary-dark-category-bar;
        padding: 9px 0;
        margin-top: 30px;
    }

    &__main {
        max-width: 1300px;
        margin: 40px auto;
        width: 80%;
    }

    &__detail {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    &__main-left {
        margin-bottom: 20px;
    }

    &__main-left-container {
        max-width: 300px;
        margin: 0 auto;

        .image-gallery-svg {
            width: 35px;
            color: $primary-grey-lighter;
        }
    }

    &__image {
        width: 100%;
    }

    &__wrapper {
        padding: 0 10px;
    }

    &__info {
        text-transform: uppercase;
        border: 2px solid $primary-dark;
        color: $primary-dark;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    &__info-description {
        padding: 10px 18px 15px 18px;
    }

    &__sizes-box {
        background: $primary-dark-lighter;
        padding: 15px 18px;
    }

    &__name {
        font-size: 17px;
        font-weight: 800;
        letter-spacing: 2px;
    }

    &__price {
        padding: 5px 0;
        font-size: 16px;
        letter-spacing: 2px;
    }

    &__code {
        padding: 3px 0;
        font-size: 8px;
        letter-spacing: 2px;
    }

    &__color-box {
        padding: 15px 0 0 0;
        font-size: 11px;
    }

    &__color-title {
        font-weight: 600;
    }

    &__sizes {
        font-size: 14px;
    }

    &__sizes-title {
        font-size: 10px;
        padding: 5px 0;
        letter-spacing: 2px;
    }

    &__option {
        width: 40px;
        height: 40px;
        display: block;
        position: relative;
        margin-right: 1rem;
        border: 1px solid $primary-dark-product-option;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -khtml-border-radius: 50%;
        transition: all 0.25s;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -ms-transition: all 0.25s;
        -o-transition: all 0.25s;
        -khtml-transition: all 0.25s;

        & input {
            cursor: pointer;
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 900;
            margin: 0;
        }

        & span {
            color: $primary-dark-product-option;
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 0;
            font-size: 14px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -khtml-transform: translateY(-50%);
            transition: all 0.25s;
            -webkit-transition: all 0.25s;
            -moz-transition: all 0.25s;
            -ms-transition: all 0.25s;
            -o-transition: all 0.25s;
            -khtml-transition: all 0.25s;
        }
    }

    &__active {
        background: $primary-dark;

        span {
            color: $primary;
        }
    }

    &__category-box {
        padding: 0 25px;
        color: $primary-grey-category-box;
        font-size: 14px;
        display: flex;

        & span {
            margin-right: 10px;
        }

        & span:last-child {
            margin-right: 0;
        }
    }

    &__option:hover {
        background: $primary-dark;

        span {
            color: $primary;
        }
    }

    &__sizes-options {
        display: flex;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
        justify-content: flex-start;
        -ms-flex-pack: flex-start;
        margin-top: 10px;
        font-size: 11px;

        .option {
            width: 28px;
            height: 28px;
        }

        .option span {
            font-size: 10px;
        }
    }

    &__quantity {
        margin-top: 25px;
    }

    &__shipping {
        margin: 25px 0;
        background: $primary-light-shipping;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }

    &__shr-circular-options {
        display: flex;
        flex-direction: column;
    }

    &__shr-circular-options-title {
        font-size: 12px;
        padding: 5px 0;
        letter-spacing: 2px;
    }

    &__shr-circular-options-box {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 10px;
    }

    &__btn {
        margin: 10px 0;
        width: 100%;

        & button {
            width: 100%;
            border: 1px solid $primary-dark;
            color: $primary-dark;
            transition: all 0.25s;
        }
    }

    &__btn button:hover {
        background: $primary-dark;
        color: $primary;
    }

    &__added {
        background: $primary-success-operation;
        border-radius: 4px;
    }

    &__added-box {
        width: 100%;
        border: 1px solid $primary-dark;
        color: $primary-dark;
        transition: all 0.25s;
        padding: 7px 21px;
        font-size: 0.9375rem;
        min-width: 64px;
        box-sizing: border-box;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 500;
        line-height: 1.75;
        border-radius: 4px;
        letter-spacing: 0.02857em;
        text-transform: uppercase;
        text-align: center;
    }

    &__actions {
        width: 90%;
        margin: 0 auto;
    }

    &__not-found-box {
        padding: 40px;
        height: 100%;
        display: flex;
    }

    &__not-found {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        margin: 100px auto;
    }
}

@media (min-width: 480px) {
    .add-product {
        &__info {
            width: 100%;
        }

        &__name {
            font-size: 25px;
        }

        &__price {
            font-size: 20px;
        }

        &__code {
            font-size: 11px;
        }

        &__color-box {
            font-size: 13px;
        }

        &__sizes-options {
            font-size: 13px;
        }

        &__sizes-title {
            font-size: 12px;
        }

        &__actions {
            width: 100%;
            margin: auto;
        }

        &__not-found {
            padding: 40px;
        }
    }
}

@media (min-width: 540px) {
    .add-product {
        &__wrapper {
            .btn .btn-add,
            .btn.btn-wish {
                margin-top: 0;
            }
        }

        &__not-found {
            width: 75%;
        }
    }
}

@media (min-width: 768px) {
    .add-product {
        &__info {
            text-align: left;
        }

        &__detail {
            grid-template-columns: repeat(2, 1fr);
        }

        &__main-left {
            margin-bottom: 0;
        }

        &__main-left-container {
            max-width: 400px;
        }

        &__shr-circular-options-box {
            justify-content: flex-start;
        }

        &__not-found {
            width: 50%;
        }
    }
}

@media (min-width: 1200px) {
    .add-product {
        &__detail {
            gap: 0;
        }

        &__not-found {
            border: 2px solid $primary-dark;
        }
    }
}
